.navbar-container {
  position: fixed;
  background-color: #204060;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 2px 1px;
  width: 100vw;
  display: flex;
  justify-content: center;
  z-index: 2;
}

.navbar {
  max-width: 750px;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 55px;
  overflow: hidden;
}

.navbar-header {
  color: #fff;
  float: left;
  font-family: Arial;
  font-size: 32px;
  font-weight: 400;
  padding-left: 20px;
  padding-right: 10px;
  text-decoration: none;
  font-variant: small-caps;
}

.navbar-links {
  float: right;
  padding-right: 5px;
}

@media (max-width: 650px) {
  .navbar-links {
    visibility: hidden;
    width: 0px;
    height: 0px;
  }
}

.navbar-link:link {
  color: #fff;
  font-family: Arial;
  font-size: 23px;
  font-weight: 200;
  padding-right: 15px;
  text-decoration: none;
}

.navbar-link:hover {
  text-decoration: underline;
}

.navbar-link:visited {
  color: #fff;
}

@media (max-width: 550px) {
  .navbar-link:link {
    font-size: 19px;
    padding-right: 5px;
  }
}
