.anchor {
  display: block;
  height: 75px; /* same height as header */
  margin-top: -75px; /* same height as header */
  visibility: hidden;
}

.sections-container {
  background-color: rgb(252, 250, 242);
  display: flex;
  justify-content: center;
}

.sections-wrapper {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 25px;
  padding-right: 25px;
  max-width: 750px;
}

.section-header {
  text-align: center;
  font-family: 'Lora', serif;
  font-weight: 200;
}

.section-text {
  font-family: 'Lora', serif;
  font-size: 14pt;
  max-width: 1000px;
}

.section-text a {
  color: #595959; /* grey */
}

ul {
  font-family: 'Lora', serif;
  font-size: 14pt;
}

li {
  margin: 15px 0;
}

ul a {
  color: #595959; /* grey */
}

#resume-download {
  text-align: center;
  margin-bottom: 25px;
}

#resume-download button {
  font-family: Arial;
  background-color: #204060;
  color: #fff;
  text-align: center;
  font-size: 16px;
  padding: 15px 32px;
  border: none;
  cursor: pointer;
}
