.icon-container {
  border-radius: 50%;
  border-width: 4px;
  border-color: #fff;
  border-style: solid;
  fill: #ffffff;
  width: 55px;
  height: 55px;
  padding: 5px;
  pointer-events: auto;
}

.icon {
  width: 65px;
  padding-right: 7px;
  padding-left: 7px;
  pointer-events: auto;

  border-radius: 50%;
  border-width: 4px;
  border-color: #fff;
  border-style: solid;
  fill: #ffffff;
  width: 55px;
  height: 55px;
  padding: 5px;
  pointer-events: auto;
}

@media (max-width: 550px) {
  .icon {
    width: 55px;
  }
}
